p,body{
	margin:0;
	padding:0;
}

h1{
	margin:20px;
	padding:20px;
}

div{
	width:500px;

	margin:20px;
	padding:20px 15px;
}

h2{
	padding-bottom:25px
}

#block1{
	background-color:lightblue;
}
#block2{
	background-color:lightgreen;
	overflow:scroll;
}
#block3{
	background-color:pink;
}